#loginContainerWrapper {
    background-image: url('../../Assets/Images/JumboBG2.jpg') !important;
    padding: 70px;
    background-size: contain;
}

#loginFormContainer {
    padding: 10rem 0 14rem 45%;
}